.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('bg.jpg');
  background-size: cover;
  color: #f2ebec;
  font-size: 14pt;
  line-height: 140%;
}

.mw-90 {
  max-width: 90vw;
}

.h-80 {
  height: 80vh;
}

.btn-reddish-orange {
  background-color: #d95204;
  color: #f2ebec;
}

.btn-reddish-orange:hover {
  background-color: rgba(217,82,4,0.85);
}

.background-blueish-darken {
  background: rgba(1,17,38,0.4);
}

.background-blueish-black {
  background: rgba(1,17,38,0.8);
}

.object-fit-cover {
  object-fit: cover;
}

.border-bottom-reddish-orange {
  border-bottom: 1px solid #d95204;
}

.figure-caption {
  position: absolute;
  top: 0;
  background: linear-gradient(130deg, rgba(217,82,4,1) 0%, rgba(217,82,4,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
  color: #f2ebec !important;
  font-size: 170% !important;
  cursor: pointer;
}

.carousel-caption {
  left: 0 !important;
  bottom: 0 !important;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.carousel-caption > h3 {
  cursor: pointer;
}

.carousel-indicators {
  bottom: 0px !important;
}

.carousel-indicators > .active {
  background-color: #d95204 !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f2ebec;
  border-color: #f2ebec transparent #f2ebec transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
